.container_infor {
    width: 90%;
    height: 100vh;
    height: auto;
    padding-top: 100px;
    background-color: #efefef;
    position: relative;
    right: -90px;

}

.slide-infor {
    width:100%;
    height: 130px;
    object-fit: cover;
    z-index: 30;
    display: flex;
    background-color: black;

}

@media (max-width: 600px) {
    .container_infor img {
        height: 3em;
        position: fixed;
        right: 60px;
        left: -20px;

    }
}

@media (max-width: 750px) {
    .container_infor img {
        height: 4em;
        position: relative;
        right: 60px;
        left: -20px;

    }
}

@media (max-width: 900px) {
    .container_infor img {
        height: 4em;
        position: relative;
        right: 60px;
        left: -20px;

    }
}

@media (max-width: 1200px) {
    .container_infor img {
        height: 4em;
        position: relative;
        right: 60px;
        left: -20px;

    }
}



