.container_banner {
    height: 100vh;
    height: auto;
    padding-top: 5.2em;
    background-color: rgb(255, 255, 255);
    z-index: 0;

}

.slide-item {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 60px;
    z-index: 0;
    display: flex;
    background-color: black;

}

@media (max-width: 700px) {
    .container_banner img {
        height: 10%;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 800px) {
    .container_banner img {
        height: 10%;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 900px) {
    .container_banner img {
        height: 10%;
        width: 100%;
        position: relative;
    }
}
@media (max-width: 1000px) {
    .container_banner img {
        height: 10%;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 1360px) {
    .container_banner img {
        height: 10%;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 600px) {
    .container_banner {
        height: 10%;
        width: 100%;
        position: relative;
        margin-left: 10px;
    }
}

@media (max-width: 300px) {
    .container_banner {
        height: 10%;
        width: 100%;
        position: relative;
        margin-left: 1px;
    }
}


/*@media (max-width: 750px) {
    .container_banner img {
        height: 13em;
        width: 100%;

    }
}

@media (max-width: 900px) {
    .container_banner img {
        height: 16em;
        width: 100%;

    }
}

@media (max-width: 1200px) {
    .container_banner img {
        height: 18em;
        width: 100%;

    }
}*/

